@font-face {
  font-family: "Karla";
  src: url("./fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
}

:root {
  --pale-green: hsl(148, 38%, 91%);
  --green: hsl(169, 82%, 21%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --light-teal: hsl(186, 15%, 59%);
  --dark-teal: hsl(187, 24%, 22%);

  --ff-base: "Karla", sans-serif;
}

@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
}

body {
  accent-color: var(--green);
  font-size: 1rem;
  font-family: var(--ff-base);
  line-height: 1.6;
  background-color: var(--pale-green);
}

h1,
h2,
p {
  margin-block: 0;
}

input,
button,
textarea {
  font: inherit;
}

@layer form {
  .contact {
    background: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    max-inline-size: 700px;
    margin-inline: auto;
  }
  form {
    display: grid;
    gap: 1rem;
    @media (width > 560px) {
      grid-template-columns: repeat(2, 1fr);
    }
    
  }
  .form-group {
    display: grid;
  }
}
